replicaCount: 1

image:
  repository: ghcr.io/chandan-akshronix/insurance-claim-agent
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets:
  - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  vault.hashicorp.com/agent-inject: "true"
  vault.hashicorp.com/role: "claim-agent"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8002

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: 
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

env:
  AZURE_DEPLOYMENT_NAME: "gpt-4o"
  BACKEND_URL: "http://insurance-backend.default.svc.cluster.local:8000"
  DB_NAME: "insurance_ai"
  LOG_LEVEL: "INFO"
